<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Security Hello</title>
</head>
<body>
<h2>Access Denied Page - 403</h2>

<h3>
    Hi :
    <th:block th:if="${#request.userPrincipal.name}">
        <span th:utext="${#request.userPrincipal.name} + ' - you do not have permission to access this page'"></span>
    </th:block>
    <th:block th:unless="${#request.userPrincipal.name}">
        you do not have permission to access this page
    </th:block>
   
</h3>

<a th:href="@{/user}">User Page</a>

<br/><br/>
<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="submit" value="Logout" />
</form>
</body>
</html>